/* FONTS */
@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: "Geist";
    font-weight: 400;
    font-size: 120%;
    scroll-behavior: smooth;

    /* ==================== VARIABLES ==================== */

    /* PRIMARY COLORS */
    --black: #222222;
    --white: #FAFAFA;
    --gray: #CDCDCD;
    --light-gray: #EDEDED;

    /* FONT SIZE */
    --body: 0.688rem;

    @media (width > 600px) {
        --body: 0.75rem;
    }

    /* SPACING */
    --xs: 0.375rem; /* 6px */
    --s: 0.75rem; /* 12px */
    --m: 0.75rem; /* 12px */

    @media (width > 600px) {
        --m: 1rem; /* 16px */
    }

    /* PADDING SIZE */
    --medium: 0.75rem; /* 12px */
    --large: 1.5rem; /* 24px */

    @media (width > 600px) {
        --medium: 1rem; /* 16px */
        --large: 1.75rem; /* 28px */
    }

    @media (width > 900px) {
        --large: 2rem; /* 32px */
    }

    @media (width > 1200px) {
        --large: 2.5rem;
    }
}

/* ==================== CONTAINERS STYLE ==================== */

body {
    background-color: var(--white);
    color: var(--black);
}

/* HEADER+FOOTER LINE */
header {
    width: 100%;
    position: fixed;
    padding: var(--medium);
    margin-block-start: -0.35rem;
    margin-block-end: -0.25rem;
}

nav,
footer {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: inline-flex;
    align-items: center;
}

.toggle {
    display: none;
    gap: var(--xs);

    @media (width > 900px) {
        display: flex;
    }
}

.logo,
.contacts {
    width: 50%;

    @media (width > 900px) {
        width: 30%;
    }
}

.contacts {
    gap: var(--m);
    display: inline-flex;
    justify-content: flex-end;
}


/* MAIN CONTAINERS */
main {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--medium);
    gap: var(--m);

    @media (width > 900px) {
        height: 100svh;
    }
}

hgroup, 
section {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--m);
}

hgroup {
    height: 50svh;
    padding-block-start: var(--medium);

    @media (width > 900px) {
        height: 100svh;
    }
}

hgroup h1,
hgroup p {
    text-align: center;
}

.display {
    display: inline-flex;
    flex-direction: column;
    width: 100%;
    gap: var(--m);

    @media (width > 900px) {
        flex-direction: row;
    }
}

.cover {
    width: 100%;
    padding: var(--large);
    background-color: var(--light-gray);
}

figure {
    width: 100%;
}

/* FONT STYLES */

h1, p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 140%;
}

a {
    font-weight: 600;
    font-size: var(--body);
    line-height: 100%;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.125rem;
}

nav p {
    font-weight: 600;
    font-size: var(--body);
    line-height: 100%;
    color: var(--black);
    text-transform: uppercase;
}

footer p {
    line-height: 100%;
    color: var(--black);
    text-transform: uppercase;
}