/* FONTS */
@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    color-scheme: light;
    font-family: "Geist";
    font-weight: 400;
    font-size: 120%;

    /* ==================== VARIABLES ==================== */

    /* NAV */
    --nav-offset-top: -0.35rem;
    --nav-offset-bottom: -0.25rem;
    --underline-thickness: 0.125rem;

    /* PRIMARY COLORS */
    --black: #222222;
    --white: #FAFAFA;
    --gray: #BDBDBD;
    --card-body: #EDEDED;

    /* SVG */
    --svg-mid: #454545;
    --svg-end: #000000;
    --svg-eyes: #FAFAFA;

    /* FONT SIZE */
    --body: 0.688rem;

    @media (width > 600px) {
        --body: 0.75rem;
    }

    /* SPACING */
    --xs: 0.375rem;
    --m: 0.75rem;

    @media (width > 600px) {
        --m: 1rem;
    }

    /* PADDING SIZE */
    --medium: 0.75rem;
    --large: 1.5rem;

    @media (width > 600px) {
        --medium: 1rem;
        --large: 1.75rem;
    }

    @media (width > 900px) {
        --large: 2rem;
    }

    @media (width > 1200px) {
        --large: 2.5rem;
    }

    /* DISPLAY GAP */
    --display-gap: 4rem;

    @media (width > 600px) {
        --display-gap: 6rem;
    }

    @media (width > 900px) {
        --display-gap: 8rem;
    }
}

[data-theme="dark"] {
    color-scheme: dark;
    --black: #FAFAFA;
    --white: #222222;
    --gray: #545454;
    --card-body: #2A2A2A;
    --svg-mid: #BDBDBD;
    --svg-end: #FAFAFA;
    --svg-eyes: #222222;
}

/* ==================== MAIN ==================== */

body {
    background-color: var(--white);
    color: var(--black);
}

nav {
    position: fixed;
    top: 0;
    padding: var(--medium);
    margin-block-start: var(--nav-offset-top);
    margin-block-end: var(--nav-offset-bottom);
    align-items: center;

    & ul {
        display: inline-flex;
        align-items: center;
    }
}

footer {
    position: fixed;
    bottom: 0;
    padding: var(--medium);

    & p {
        line-height: 100%;
        color: var(--gray);
        text-transform: uppercase;
    }
}

nav,
footer {
    z-index: 5;
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
}

.toggle {
    display: flex;
    align-items: center;
    gap: var(--xs);
    flex-shrink: 0;
    white-space: nowrap;

    & p {
        margin-block-start: 0.2em;
    }
}

.logo{
    display: none;

    @media (width > 800px) {
        display: flex;
    }
}

.logo,
.contacts {
    width: 50%;

    @media (width > 900px) {
        width: 30%;
    }
}

.contacts {
    gap: var(--m);
    display: inline-flex;
    justify-content: flex-end;
}

main {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: var(--medium);
    gap: var(--m);
}

hgroup,
section {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--m);
}

hgroup {
    height: 100svh;
    padding-block-start: var(--medium);

    & h1,
    & p {
        text-align: center;
    }

    & svg {
        pointer-events: none;
        user-select: none;
    }
}

.display {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: var(--display-gap);

    @media (width > 900px) {
        margin-block-start: -9rem;
    }
}

.cover {
    width: 100%;
    padding: var(--large);
    background-color: var(--card-body);

    @media (width > 600px) {
        width: 70%;
    }

    @media (width > 900px) {
        width: 60%;
    }

    @media (width > 1000px) {
        width: 70%;
    }
}

figure {
    width: 100%;
}

h1, p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 140%;
}

a,
button,
nav p {
    font-family: "Geist";
    font-weight: 600;
    font-size: var(--body);
    line-height: 100%;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

a,
button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

a:hover,
button:hover {
    text-decoration: underline;
    text-decoration-thickness: var(--underline-thickness);
}

html:not([data-theme="dark"]) #btn-dark,
html[data-theme="dark"] #btn-light {
    color: var(--gray);
}