/* FONTS */
@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-SemiBold.woff") format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Geist";
    src: url("fonts/Geist-Regular.woff") format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    font-family: 'Geist';
    font-weight: 400;
    font-size: 120%;
    background-color: var(--white);
    color: var(--black);
    gap: var(--16px);
    scroll-behavior: smooth;

    /* ==================== VARIABLES ==================== */

    /* PRIMARY COLORS */
    --black: #222222;
    --white: #FAFAFA;
    --gray: #CDCDCD;

    /* FONT SIZE */
    --body: 0.75rem;

    @media (width > 600px) {
        --body: 0.75rem;
    }

    @media (width > 900px) {
        --body: 0.75rem;
    }

    @media (width > 1200px) {
        --body: 0.75rem;
    }

    /* SPACING */
    --6px: 0.375rem;
    --12px: 0.75rem;
    --16px: 1rem;
    --24px: 1.5rem;

    @media (width > 600px) {
        --6px: 0.125rem;
        --12px: 0.75rem;
        --16px: 1rem;
        --24px: 1.5rem;
    }

    @media (width > 900px) {
        --6px: 0.125rem;
        --12px: 0.75rem;
        --16px: 1rem;
        --24px: 1.5rem;
    }

    @media (width > 1200px) {
        --6px: 0.125rem;
        --12px: 0.75rem;
        --16px: 1rem;
        --24px: 1.5rem;
    }

    /* PADDING SIZE */
    --small: 0.75rem;
    --medium: 1rem;
    --large: 2.5rem;

    @media (width > 600px) {
        --small: 0.75rem;
        --medium: 1rem;
        --large: 2.5rem;
    }

    @media (width > 900px) {
        --small: 0.75rem;
        --medium: 1rem;
        --large: 2.5rem;
    }

    @media (width > 1200px) {
        --small: 0.75rem;
        --medium: 1rem;
        --large: 2.5rem;
    }
}

/* ==================== CONTAINERS STYLE ==================== */

body {
    background-color: var(--white);
    color: var(--black);
}

/* HEADER+FOOTER LINE */
nav,
footer {
    display: inline-flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

ul {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.toggle {
    gap: var(--6px);
}

.contacts {
    gap: var(--16px);
}

/* MAIN CONTAINERS */
main {
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100svh;
}
hgroup {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--16px);
}

hgroup h1,
hgroup p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 140%;
}

figure {
    width: 100%;
    height: 13.25rem;
    padding: var(--large);
}

ul li:nth-child(1) figure { background-color: var(--gray); }
ul li:nth-child(2) figure { background-color: var(--gray); }
ul li:nth-child(3) figure { background-color: #0A0A0A; }







h1, p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 140%;
}

a {
    font-weight: 600;
    font-size: var(--body);
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--black);
    text-decoration: none;
    text-transform: uppercase;
}

nav a, 
nav p {
    font-weight: 600;
    font-size: var(--body);
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--black);
    text-transform: uppercase;
}

footer p {
    font-weight: 400;
    font-size: var(--body);
    line-height: 100%;
    letter-spacing: -1%;
    color: var(--black);
    text-transform: uppercase;
}
